 .u-section-1 {
  min-height: 864px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 0 0 60px auto;
}

.u-section-1 .u-image-1 {
  min-height: 734px;
  background-image: url("images/IMG-20240728-WA0327.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 35px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 734px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 28px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  width: 225px;
  margin: 84px auto 0;
}

.u-section-1 .u-text-2 {
  width: 225px;
  margin: 45px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  margin: 122px 81px 0 auto;
  padding: 6px 30px 7px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 763px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-image-1 {
    min-height: 605px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 605px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 14px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 490px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-image-1 {
    min-height: 463px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    width: 185px;
  }

  .u-section-1 .u-text-2 {
    width: 185px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 635px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    min-height: 521px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 485px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    min-height: 328px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-2 .u-shape-1 {
  height: 629px;
  width: 1240px;
  margin: 154px -63px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 446px;
  min-height: 867px;
  height: auto;
  margin: -691px auto 47px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 40px;
}

.u-section-2 .u-text-2 {
  margin: 28px 30px 0;
}

.u-section-2 .u-image-1 {
  width: 355px;
  height: 355px;
  background-image: url("images/logoHTF.jpg");
  background-position: 50% 50%;
  margin: 71px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: 940px;
    margin-right: 100px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 434px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    text-align: center;
  }

  .u-section-2 .u-text-2 {
    text-align: justify;
  }

  .u-section-2 .u-image-1 {
    text-align: start;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: 720px;
    margin-right: 210px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 484px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    width: 540px;
    margin-right: 300px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 394px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-right: 400px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.27778rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 590px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 414px;
  background-image: url("images/photo-1548296404-93c7694b2f91.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-image-2 {
  min-height: 414px;
  background-image: url("images/photo-1471893370050-2c1a36cf555c.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-group-1 {
  min-height: 158px;
  width: 735px;
  margin: -72px auto 13px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 325px;
  }

  .u-section-3 .u-image-2 {
    min-height: 325px;
  }

  .u-section-3 .u-group-1 {
    min-height: 181px;
    width: 654px;
    margin-top: -51px;
    margin-bottom: 39px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-image-1 {
    min-height: 283px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 283px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-1 {
    min-height: 146px;
    width: 544px;
    margin-top: -35px;
    margin-bottom: 60px;
    margin-left: 88px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-3 .u-image-1 {
    min-height: 325px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 325px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    min-height: 174px;
    width: 504px;
    margin-left: 42px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-3 .u-image-1 {
    min-height: 275px;
  }

  .u-section-3 .u-image-2 {
    min-height: 275px;
  }

  .u-section-3 .u-group-1 {
    min-height: 220px;
    width: 298px;
    margin-top: -31px;
    margin-left: 26px;
    margin-bottom: 27px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 602px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 34px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(25% - 23.25px);
  grid-template-columns: repeat(4, calc(25% - 23.25px));
  min-height: 318px;
  grid-gap: 31px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-4 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-10 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 257px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15.5px);
    grid-template-columns: repeat(2, calc(50% - 15.5px));
    min-height: 867px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 789px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 669px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 50px 30px 0;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

.u-section-5 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 437px;
  margin-left: auto;
  grid-gap: 0px;
}

.u-section-5 .u-list-item-1 {
  margin-left: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 20px 10px 0;
}

.u-section-5 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 26px 0 0;
}

.u-section-5 .u-list-item-2 {
  margin-left: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 20px 10px 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 26px 0 0;
}

.u-section-5 .u-list-item-3 {
  margin-left: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 20px 10px 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-7 {
  margin: 26px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 669px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-gallery-1 {
  height: 542px;
  width: 492px;
  margin: 0 auto;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 552px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 646px;
  }

  .u-section-5 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 1031px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 1547px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-gallery-1 {
    width: 450px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 974px;
  }

  .u-section-5 .u-gallery-1 {
    width: 320px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 652px;
}

.u-section-6 .u-text-1 {
  width: 622px;
  margin: 60px auto 0;
}

.u-section-6 .u-list-1 {
  width: 622px;
  grid-template-rows: repeat(3, auto);
  height: auto;
  margin: 20px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 459px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 498px 0 0;
}

.u-section-6 .u-text-2 {
  margin: -64px 0 0 90px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 498px 0 0;
}

.u-section-6 .u-text-3 {
  margin: -64px 0 0 90px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 30px 0;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 498px 0 0;
}

.u-section-6 .u-text-4 {
  margin: -64px 0 0 90px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 446px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 13px;
    margin-left: 97px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 446px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 13px;
    margin-left: 97px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 446px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: 13px;
    margin-left: 97px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 278px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 93px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 278px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 93px;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 278px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 93px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 864px;
}

.u-section-7 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 164px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 590px;
  pointer-events: auto;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 50px 50px;
}

.u-section-7 .u-image-1 {
  height: 682px;
  margin-top: -92px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 597px;
  pointer-events: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 499px;
  margin: 20px auto 0 0;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 189px;
  grid-gap: 0px;
}

.u-section-7 .u-list-item-1 {
  background-size: auto;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 30px 0;
}

.u-section-7 .u-icon-1 {
  height: 66px;
  width: 66px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  margin: 30px 0 0;
}

.u-section-7 .u-list-item-2 {
  background-size: auto;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 30px 30px 0;
}

.u-section-7 .u-icon-2 {
  height: 66px;
  width: 66px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  margin: 30px 0 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 30px 30px 0;
}

.u-section-7 .u-icon-3 {
  height: 66px;
  width: 66px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-text-4 {
  text-transform: uppercase;
  margin: 30px 0 0;
}

.u-section-7 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 50px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 130px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-7 .u-image-1 {
    height: 590px;
    margin-top: -62px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-7 .u-list-1 {
    width: 410px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 155px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1549px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 450px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-1 {
    height: 801px;
    margin-top: -384px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 593px;
  }

  .u-section-7 .u-list-1 {
    width: 625px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 33.3333%;
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 205px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1694px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 227px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-1 {
    height: 734px;
    margin-top: -174px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 734px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 366px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 10px;
    padding-bottom: 28px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 10px;
    padding-bottom: 28px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-right: 10px;
    padding-bottom: 28px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-7 .u-image-1 {
    height: 498px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 629px;
}

.u-section-8 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-8 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 16.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 16.6667px));
  min-height: 371px;
  grid-gap: 25px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 77px;
  height: 77px;
  background-image: url("images/57faf1e6.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-8 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  width: 77px;
  height: 77px;
  background-image: url("images/6adc50df.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-8 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  width: 77px;
  height: 77px;
  background-image: url("images/e610d339.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-8 {
  margin: 30px 0 0;
}

.u-section-8 .u-text-9 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-8 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-8 .u-text-11 {
  font-style: italic;
  font-size: 1rem;
  margin: 30px auto 60px;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  font-weight: 400;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 16.6667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16.6667px));
    min-height: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(50% - 12.500024999999999px);
    grid-template-columns: repeat(2, calc(50% - 12.500024999999999px));
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 676px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 969px;
  margin: 60px auto;
}

.u-section-9 .u-image-1 {
  background-image: url("images/photo-1509259305526-037fbbf698fa.jpeg");
  min-height: 556px;
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 556px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 16px));
  min-height: 464px;
  grid-gap: 32px;
}

.u-section-9 .u-container-layout-3 {
  padding: 20px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-9 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 20px;
}

.u-section-9 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-9 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-5 {
  padding: 20px;
}

.u-section-9 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-9 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-6 {
  padding: 20px;
}

.u-section-9 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-9 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-image-1 {
    min-height: 539px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 539px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 448px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-image-1 {
    min-height: 413px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: calc(50% - 16px);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-image-1 {
    min-height: 620px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-9 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-9 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-9 .u-text-8 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    min-height: 390px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-9 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-9 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-9 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-9 .u-text-8 {
    font-size: 3rem;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 904px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 48px;
}

.u-section-10 .u-image-1 {
  background-image: url("images/photo-1496947850313-7743325fa58c.jpeg");
  background-position: 50% 50%;
  min-height: 382px;
}

.u-section-10 .u-container-layout-1 {
  padding: 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 382px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin: 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-10 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 33px;
  margin: 20px auto 0 0;
  padding: 5px 0;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 382px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-text-3 {
  margin: 0;
}

.u-section-10 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-10 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 33px;
  margin: 20px auto 0 0;
  padding: 5px 0;
}

.u-section-10 .u-image-2 {
  min-height: 382px;
  background-image: url("images/photo-1557273261-6503c11a27f6.jpeg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-10 .u-image-1 {
    min-height: 315px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-10 .u-image-2 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-10 .u-image-1 {
    min-height: 241px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-10 .u-image-2 {
    min-height: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-10 .u-image-1 {
    min-height: 362px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-2 {
    min-height: 362px;
    order: 0;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-10 .u-image-1 {
    min-height: 228px;
  }

  .u-section-10 .u-image-2 {
    min-height: 228px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 1342px;
}

.u-section-11 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-11 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-11 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 46px;
  margin-bottom: 0;
}

.u-section-11 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 18.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 18.6667px));
  min-height: 1010px;
  grid-gap: 28px;
}

.u-section-11 .u-list-item-1 {
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-11 .u-image-1 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-3 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-11 .u-text-4 {
  margin: 20px 20px 0;
}

.u-section-11 .u-list-item-2 {
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-11 .u-image-2 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-5 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-11 .u-text-6 {
  margin: 20px 20px 0;
}

.u-section-11 .u-list-item-3 {
  background-image: none;
}

.u-section-11 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-11 .u-image-3 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-7 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-11 .u-text-8 {
  margin: 20px 20px 0;
}

.u-section-11 .u-list-item-4 {
  background-image: none;
}

.u-section-11 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-11 .u-image-4 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-9 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-11 .u-text-10 {
  margin: 20px 20px 0;
}

.u-section-11 .u-list-item-5 {
  background-image: none;
}

.u-section-11 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-11 .u-image-5 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-11 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-11 .u-text-12 {
  margin: 20px 20px 0;
}

.u-section-11 .u-list-item-6 {
  background-image: none;
}

.u-section-11 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-11 .u-image-6 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-13 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-11 .u-text-14 {
  margin: 20px 20px 0;
}

.u-section-11 .u-text-15 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px auto 60px;
}

.u-section-11 .u-btn-1 {
  border-style: solid;
  font-weight: 400;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-11 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 18.6667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18.6667px));
    min-height: 829px;
  }

  .u-section-11 .u-image-1 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-3 {
    width: auto;
  }

  .u-section-11 .u-text-4 {
    width: auto;
  }

  .u-section-11 .u-image-2 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-5 {
    width: auto;
  }

  .u-section-11 .u-text-6 {
    width: auto;
  }

  .u-section-11 .u-image-3 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-7 {
    width: auto;
  }

  .u-section-11 .u-text-8 {
    width: auto;
  }

  .u-section-11 .u-image-4 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-9 {
    width: auto;
  }

  .u-section-11 .u-text-10 {
    width: auto;
  }

  .u-section-11 .u-image-5 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-11 {
    width: auto;
  }

  .u-section-11 .u-text-12 {
    width: auto;
  }

  .u-section-11 .u-image-6 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-13 {
    width: auto;
  }

  .u-section-11 .u-text-14 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-repeater-1 {
    grid-auto-columns: calc(50% - 14.000024999999999px);
    grid-template-columns: repeat(2, calc(50% - 14.000024999999999px));
    min-height: 1467px;
  }

  .u-section-11 .u-image-1 {
    height: 341px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-2 {
    height: 341px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-3 {
    height: 341px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-4 {
    height: 341px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-5 {
    height: 341px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-6 {
    height: 341px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-2 {
    width: 540px;
  }

  .u-section-11 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-11 .u-image-1 {
    height: 512px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-4 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-11 .u-image-2 {
    height: 512px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-6 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-11 .u-image-3 {
    height: 512px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-8 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-11 .u-image-4 {
    height: 512px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-10 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-11 .u-image-5 {
    height: 512px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-12 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-11 .u-image-6 {
    height: 512px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-14 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-2 {
    width: 340px;
  }

  .u-section-11 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-11 .u-image-1 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-11 .u-image-2 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-6 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-11 .u-image-3 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-8 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-11 .u-image-4 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-10 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-11 .u-image-5 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-12 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-11 .u-image-6 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-14 {
    margin-left: 20px;
    margin-right: 20px;
  }
} .u-section-12 {
  background-image: none;
  min-height: 860px;
}

.u-section-12 .u-shape-1 {
  height: 487px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-12 .u-layout-wrap-1 {
  width: 1140px;
  margin: -390px auto 60px;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 344px;
  background-image: none;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-12 .u-text-1 {
  margin: 6px 0 0;
}

.u-section-12 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-12 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 336px;
  background-image: none;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-12 .u-text-3 {
  margin: 24px 0 0;
}

.u-section-12 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-12 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-12 .u-image-1 {
  min-height: 680px;
  background-image: url("images/photo-1471623320832-752e8bbf8413.jpeg");
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-3 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-12 {
    min-height: 741px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 283px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-image-1 {
    min-height: 561px;
  }
}

@media (max-width: 991px) {
   .u-section-12 {
    min-height: 1588px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-image-1 {
    min-height: 859px;
  }
}

@media (max-width: 767px) {
   .u-section-12 {
    min-height: 1334px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-12 .u-image-1 {
    min-height: 644px;
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    min-height: 1096px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -408px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-image-1 {
    min-height: 405px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 622px;
}

.u-section-13 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 60px auto 0;
}

.u-section-13 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-13 .u-accordion-1 {
  width: 894px;
  margin: 30px auto 60px;
}

.u-section-13 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-13 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-13 .u-accordion-pane-1 {
  min-height: 154px;
  background-image: none;
}

.u-section-13 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-13 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-13 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-13 .u-accordion-pane-2 {
  min-height: 154px;
  background-image: none;
}

.u-section-13 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-13 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-13 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-13 .u-accordion-pane-3 {
  min-height: 154px;
  background-image: none;
}

.u-section-13 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-13 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-13 .u-icon-4 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-13 .u-accordion-pane-4 {
  min-height: 154px;
  background-image: none;
}

.u-section-13 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-13 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 25px 30px;
}

.u-section-13 .u-icon-5 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-13 .u-accordion-pane-5 {
  min-height: 154px;
  background-image: none;
}

.u-section-13 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-13 .u-text-7 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-13 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-13 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-13 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-13 .u-accordion-pane-5 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-2 {
    width: 720px;
  }

  .u-section-13 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-2 {
    width: 540px;
  }

  .u-section-13 .u-accordion-1 {
    width: 540px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-13 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-13 .u-text-2 {
    width: 340px;
  }

  .u-section-13 .u-accordion-1 {
    width: 340px;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 747px;
}

.u-section-14 .u-text-1 {
  width: 322px;
  margin: 60px auto 0;
}

.u-section-14 .u-text-2 {
  width: 820px;
  margin: 20px auto 0;
}

.u-section-14 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 42px 0 60px;
}

.u-section-14 .u-repeater-1 {
  grid-auto-columns: calc(25% - 15.75px);
  grid-template-columns: repeat(4, calc(25% - 15.75px));
  min-height: 444px;
  grid-gap: 21px;
}

.u-section-14 .u-list-item-1 {
  background-image: none;
}

.u-section-14 .u-container-layout-1 {
  padding: 29px 30px 27px;
}

.u-section-14 .u-icon-1 {
  width: 138px;
  height: 138px;
  margin: 0 auto;
  padding: 0;
}

.u-section-14 .u-list-item-2 {
  background-image: none;
}

.u-section-14 .u-container-layout-2 {
  padding: 29px 30px 27px;
}

.u-section-14 .u-icon-2 {
  width: 138px;
  height: 138px;
  margin: 0 auto;
  padding: 0;
}

.u-section-14 .u-list-item-3 {
  background-image: none;
}

.u-section-14 .u-container-layout-3 {
  padding: 29px 30px 27px;
}

.u-section-14 .u-icon-3 {
  width: 138px;
  height: 138px;
  margin: 0 auto;
  padding: 0;
}

.u-section-14 .u-list-item-4 {
  background-image: none;
}

.u-section-14 .u-container-layout-4 {
  padding: 29px 30px 27px;
}

.u-section-14 .u-icon-4 {
  width: 138px;
  height: 138px;
  margin: 0 auto;
  padding: 0;
}

.u-section-14 .u-list-item-5 {
  background-image: none;
}

.u-section-14 .u-container-layout-5 {
  padding: 29px 30px 27px;
}

.u-section-14 .u-icon-5 {
  width: 138px;
  height: 138px;
  margin: 0 auto;
  padding: 0;
}

.u-section-14 .u-list-item-6 {
  background-image: none;
}

.u-section-14 .u-container-layout-6 {
  padding: 29px 30px 27px;
}

.u-section-14 .u-icon-6 {
  width: 138px;
  height: 138px;
  margin: 0 auto;
  padding: 0;
}

.u-section-14 .u-list-item-7 {
  background-image: none;
}

.u-section-14 .u-container-layout-7 {
  padding: 29px 30px 27px;
}

.u-section-14 .u-icon-7 {
  width: 138px;
  height: 138px;
  margin: 0 auto;
  padding: 0;
}

.u-section-14 .u-list-item-8 {
  background-image: none;
}

.u-section-14 .u-container-layout-8 {
  padding: 29px 30px 27px;
}

.u-section-14 .u-icon-8 {
  width: 138px;
  height: 138px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-repeater-1 {
    min-height: 365px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-text-2 {
    width: 720px;
  }

  .u-section-14 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10.5px);
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 1160px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-text-2 {
    width: 540px;
  }

  .u-section-14 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-text-2 {
    width: 340px;
  }

  .u-section-14 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 676px;
}

.u-section-15 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-15 .u-form-1 {
  background-image: none;
  height: 112px;
  width: 878px;
  margin: 50px auto 0;
}

.u-section-15 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-15 .u-list-1 {
  grid-auto-rows: 100%;
  margin: 63px 0 60px;
}

.u-section-15 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 183px;
  grid-gap: 20px;
}

.u-section-15 .u-list-item-1 {
  background-image: none;
  --radius: 20px;
}

.u-section-15 .u-container-layout-1 {
  padding: 40px 30px;
}

.u-section-15 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-15 .u-icon-1 {
  margin-right: 5px;
}

.u-section-15 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-15 .u-list-item-2 {
  background-image: none;
  --radius: 20px;
}

.u-section-15 .u-container-layout-2 {
  padding: 40px 30px;
}

.u-section-15 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-15 .u-icon-2 {
  font-size: 0.95em;
  margin-right: 5px;
}

.u-section-15 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-15 .u-list-item-3 {
  background-image: none;
  --radius: 20px;
}

.u-section-15 .u-container-layout-3 {
  padding: 40px 30px;
}

.u-section-15 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-15 .u-icon-3 {
  margin-right: 5px;
}

.u-section-15 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 150px;
  }

  .u-section-15 .u-text-2 {
    margin-right: 0;
  }

  .u-section-15 .u-text-4 {
    margin-right: 0;
  }

  .u-section-15 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-form-1 {
    width: 720px;
  }

  .u-section-15 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 370px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-15 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-form-1 {
    width: 540px;
  }

  .u-section-15 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-15 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-form-1 {
    width: 340px;
  }
} .u-section-16 {
  min-height: 500px;
}